.citation-index-papier {
  position: relative;
  width: 400px;
  margin: 60px auto;
}
.index-img-punaise {
  position: absolute;

  /* Position sur le papier */
  top: 20px;
  left: 6px;

  width: 35px;

  z-index: 3;

  /* Effet réaliste */
  transform: rotate(-15deg);
  filter: drop-shadow(2px 4px 3px rgba(0, 0, 0, 0.35));
}
.texte-papier-index {
  position: absolute; /* superposition OK */
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 80%;
  text-align: center;

  color: #fdfdfd; /* blanc cassé, plus naturel */
  font-size: 1.1rem;
  line-height: 1.5;

  /* CONTRASTE SUR IMAGE */
  text-shadow:
    0 1px 2px rgba(0, 0, 0, 0.55),
    0 0 6px rgba(0, 0, 0, 0.35);

  z-index: 2;
}
.index-img-froisser {
  z-index: 1;
  position: relative;
}
