/* HEADER */
.header {
  position:fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 70px;

  background-color: white;
  color: black;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1000;
}

/* TITRE */
.site-name {
  font-size: 1.4rem;
  margin: 0;
}

/* BOUTONS */
.menu-btn,
.lang-btn {
  position: absolute;
  background: none;
  border: none;
  color: black;
  cursor: pointer;
}

/* MENU BOUTON */
.menu-btn {
  left: 20px;
  font-size: 2rem;
}

/* LANGUE */
.lang-btn {
  right: 20px;
  font-size: 1rem;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 4px;
}

/* MENU LATERAL */
.menu {
  position: fixed;
  top: 70px;
  left: -260px;

  width: 260px;
  height: calc(100vh - 70px);

  background-color: white;

  transition: left 0.3s ease;
  z-index: 999;
}

/* MENU OUVERT */
.menu.open {
  left: 0;
}

/* LISTE */
.menu-list {
  list-style: none;
  padding: 30px 20px;
}

.menu-list li {
  margin-bottom: 20px;
}

.menu-list a {
  color: black;
  text-decoration: none;
  font-size: 1.1rem;
}

.menu-list a:hover {
  color: #00c3ff;
}

/* CONTENU */
main {
  margin-top: 70px;
  padding: 0px;
}
