/*layout*/
@import "layout/header.css";
@import "layout/section.css";
@import "layout/footer.css";

/*base*/
@import "base/main.css";
@import "base/media.css";

/*vendors*/
@import "vendors/normalize.css";

/*components*/
@import "components/card.css";
@import "components/carousel.css";
@import "components/language.css";

/*utils*/
@import "utils/variable.css";